.page-title {
	margin-top: 3.5rem;
	margin-bottom: 2.5rem;
}

input[type=search] {
	box-shadow: none;
}

.search-button {
	margin-right: 1rem;
}

.centered-box {
	margin-top: 3.5rem;
	border: 3px solid rgba(22, 133, 207, 0.2);
	padding: 0 3.5rem 3.5rem 3.5rem;
	background-color: rgba(22, 133, 207, 0.1);
}